@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/front-page/BebasNeue.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/front-page/PTS55F.ttf') format('truetype');
  font-style: normal;
}